:root {
  --primary-color: #3590f3;
  --secondary-color: #23ce6b;

  --dark-color: #171718;
  --dark-alternate: #101114;
  --dark-alternate-2: #242425;
  --dark-alternate-3: #3b3b3d;

  --light-color: #f4f7f5;
  --light-alternate: #e9e9ec;
  --light-alternate-2: #d7d7df;

  --font-sans: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-code: Consolas, 'Courier New', Courier, monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: var(--font-sans);
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
}

img {
  max-width: 100%;
  display: block;
}

.image-small {
  width: 32px;
  height: 32px;
}

code {
  font-family: var(--font-code);
}

pre {
  font-size: 0.8rem;
}
.code-grid {
  display: grid;
  grid-template-columns: 20% 1fr;
  font-family: var(--font-code);
  background-color: var(--dark-alternate-3);
  padding: 0.2rem 0.4rem;
  border: 1px solid var(--dark-alternate-2);
}

.small,
small {
  font-size: 0.75rem;
}

.done {
  background-color: var(--secondary-color);
}
/*  */
.select {
  background-color: var(--light-color);
  width: 100%;
}

.bg-light {
  background-color: var(--light-color);
}
.light {
  color: var(--light-color);
}
.light-alternate {
  color: var(--light-alternate);
}
.dark {
  color: var(--dark-color);
}
.dark-alternative {
  color: var(--dark-alternate);
}

.label {
  color: #101840;
  line-height: 18px;
  letter-spacing: -0.05px;
  font-size: 14px;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--dark-color);
}
::-webkit-scrollbar-thumb {
  background: var(--dark-alternate-3);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
