:root {
  --primary-color: #3590f3;
  --secondary-color: #23ce6b;

  --dark-color: #171718;
  --dark-alternate: #101114;
  --dark-alternate-2: #242425;
  --dark-alternate-3: #3b3b3d;

  --light-color: #f4f7f5;
  --light-alternate: #cacbce;

  --font-sans: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: var(--font-sans);
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.select {
  background-color: var(--light-color);
}

.bg-light {
  background-color: var(--light-color);
}
.light {
  color: var(--light-color);
}
.light-alternate {
  color: var(--light-alternate);
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--dark-alternate-3);
}
::-webkit-scrollbar-thumb {
  background: var(--dark-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
