:root {
  --primary-color: #005c53;
  --secondary-color: #23ce6b;

  --primary-contrast: #dbf227;

  --dark-color: #171718;
  --dark-alternate: #101114;
  --dark-alternate-2: #242425;
  --dark-alternate-3: #3b3b3d;

  --light-color: #f4f7f5;
  --light-alternate: #e9e9ec;
  --light-alternate-2: #d7d7df;

  --font-sans: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-code: Consolas, 'Courier New', Courier, monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: var(--dark-alternate);
  color: var(--light-color);
  font-family: var(--font-sans);
  overflow-y: scroll;
}
a {
  text-decoration: none;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
}

img {
  max-width: 100%;
  display: inline-block;
}
code {
  font-family: var(--font-code);
}
pre {
  font-size: 0.8rem;
}
b {
  font-weight: 700;
  color: var(--primary-color);
}
.small,
small {
  font-size: 0.7rem;
  letter-spacing: 0.4px;
}
.select {
  background-color: var(--light-color);
  width: 100%;
  margin-top: 8px;
  margin-bottom: 24px;
}
.label {
  color: #101840;
  line-height: 18px;
  letter-spacing: -0.05px;
  font-size: 14px;
  font-weight: 500;
}

/* button */
button {
  border: none;
  outline: none;
}
button:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.btn {
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  padding: 0 16px;
  /* line-height: 32px; */
  font-weight: 500;
  font-size: 12px;
  height: 32px;
  border-radius: 5px;
}
.btn-full {
  width: 100%;
}
.btn-primary {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--light-color);
  font-family: var(--font-code);
}
/* TODO: create button style */
/* new */
/* -------------------- bg colors -------------------- */
.bg-light {
  background-color: var(--light-color);
}
.bg-dark-alternative-2 {
  background-color: var(--dark-alternate-2);
}
/* -------------------- colors -------------------- */
.light {
  color: var(--light-color);
}
.light-alternate {
  color: var(--light-alternate);
}
.light-alternate-2 {
  color: var(--light-alternate-2);
}
.dark {
  color: var(--dark-color);
}
.dark-alternative {
  color: var(--dark-alternate);
}
/* -------------------- title -------------------- */
.title-h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 1rem 0 1.5rem;
  text-align: center;
}
.title-h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0 1.5rem;
}
/* -------------------- container -------------------- */
.app-container {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 44px);
}
/* -------------------- display -------------------- */
.flex-wrap {
  flex-wrap: wrap;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex-column-center-100 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
/* -------------------- display plus -------------------- */
.grid--span3 {
  grid-column: span 3;
}
/* -------------------- images -------------------- */

.table-icon--small {
  max-width: 32px;
  max-height: 32px;
}
.team-logo--small {
  max-width: 50px;
  max-height: 70px;
}
/* -------------------- border -------------------- */
.border-bottom--light {
  border-bottom: 2px dashed var(--light-color);
}
/* -------------------- sections -------------------- */
.footer {
  background-color: var(--primary-color);
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -------------------- scroll -------------------- */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--dark-color);
}
::-webkit-scrollbar-thumb {
  background: var(--dark-alternate-3);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

/* -------------------- code -------------------- */
.code-grid {
  display: grid;
  grid-template-columns: 20% 1fr;
  font-family: var(--font-code);
  background-color: var(--dark-alternate-3);
  padding: 0.2rem 0.4rem;
  border: 1px solid var(--dark-alternate-2);
}
.done {
  background-color: var(--primary-color);
}
.today,
.not-today {
  margin-top: 6px;
}
.today p {
  background-color: var(--primary-contrast);
  color: var(--primary-color);
}
.not-today p {
  color: var(--light-color);
}
.today p,
.not-today p {
  font-family: var(--font-code);
  font-size: 0.7rem;
  text-align: center;
}
