.form-container,
.form-container-sign {
  padding: 32px;
  background-color: var(--light-color);
  border-radius: 3px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
}

.form-container-sign {
  max-width: 380px;
}

.form-registration,
.form-sign {
  background: var(--light-color);
  gap: 8px;
}

.form-registration {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.form-sign {
  display: grid;
  grid-template-columns: 1fr;
}

.form-my-bets {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4px;
  padding: 18px;
  background-color: var(--light-alternate);
}

.form-my-profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4px;
  padding: 18px;
  background-color: var(--light-alternate);
}
