.form-container,
.form-container-sign {
  padding: 32px;
  background-color: var(--light-color);
  border-radius: 3px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 90%;
}

.form-container-sign {
  max-width: 380px;
}

.form,
.form-sign {
  background: var(--light-color);
  gap: 8px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.form-sign {
  display: grid;
  grid-template-columns: 1fr;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  width: 100%;
}

.form-grid--field {
  margin-bottom: 8px;
}

.form-grid--field > input {
  width: 100%;
}

.form--span-3 {
  grid-column: 1 / span 3;
}
