.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.game-card--team {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  height: 125px;
  justify-content: flex-end;
  width: 100%;
}
.game-bet--value {
  margin-top: 36px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-color);
  padding: 2px;
  border-radius: 3px;
}
/* -------------------- new -------------------- */
.game-bet--logo {
  vertical-align: middle;
  background: #8a8a8a;
  height: 93px;
  width: 93px;
}
.game-bet--name {
  font-size: 0.9rem;
  height: 42px;
  text-align: center;
  vertical-align: middle;
  width: 93px;
  white-space: break-spaces;
}
.game-item {
  border: 1px dashed var(--dark-alternate-2);
  margin: 3px;
}

