.table {
  background: var(--light-color);
}

.table-row {
  padding: 0;
  align-items: center;
}

.table-row:hover {
  background: var(--light-alternate) !important;
  cursor: pointer;
}

.table-row.selected {
  background-color: var(--light-alternate-2) !important;
}
