.table {
  min-width: 100%;
  padding: 8px;
  background: var(--light-color);
}

.table-row {
  padding: 0;
  height: 45px;
}

.table-row:hover {
  background: var(--light-alternate);
  cursor: pointer;
}
.table-cell {
  flex: 4;
}

.table-cell-icon {
  text-align: center;
  vertical-align: middle;
}
