table {
  background: var(--dark-color);
  border: 2px solid var(--dark-alternate-2);
}

th {
  background-color: var(--dark-alternate-2);
  color: var(--light-alternate-2);
  font-size: 0.8rem !important;
  font-weight: 500;
  height: 30px;
  letter-spacing: 0.4px;
  text-align: left;
  vertical-align: middle !important;
}
td {
  vertical-align: middle !important;
  height: 35px;
  white-space: nowrap;
}
td {
  font-size: 0.9rem !important;
  font-family: var(--font-code) !important;
}

/* td:not(:first-child) {
  border-left: 1px dashed var(--dark-alternate-2);
} */
/* FIXME: td not first time */